[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim-erlang-runtime"]
	path = vim-erlang-runtime
	url = git@github.com:vim-erlang/vim-erlang-runtime.git
[submodule "vim-erlang-compiler"]
	path = vim-erlang-compiler
	url = git@github.com:vim-erlang/vim-erlang-compiler.git
[submodule "vim-erlang-tags"]
	path = vim-erlang-tags
	url = git@github.com:vim-erlang/vim-erlang-tags.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized
